<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/moi.css') }}">
    <title>Загрузка новостей</title>
</head>
<body>
<div class="container p-2 text-dark rounded bg-light">
    <from method = "post">
        <h3 class="text-center">Создать новость</h3>
        <h5>Тема новости:</h5>
        <input type="text" name="Tem" id="Tem" class="form-control" placeholder="ОБЯЗАТЕЛЬНОЕ!"<br>
        <h5> Текст новости:</h5>
        <textarea name="Mes" id="Mes" class="form-control" placeholder="WARNING!" rows="10"></textarea>
        <input type="submit" class="btn btn-info center mx-auto d-block m-3" value="Создать новость">
    </from>
</div>
</body>
</html>